discord
discord.py
requests
pynput
Crypto.Cipher
psutil
pyperclip
pillow
opencv-python
pynput
pywin32
requests

# building deps
nuitka
#pyminifier3 - depricated


# builder deps
rich
colorama 
python-minifier